<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div style="align-content: center; border: 2px solid navy; height: 100%; text-align: center; margin-top: 15%;">
        <br>
        <img src="/static/images/byeolzzi_character_img.png" alt="" style="width: 30px; height: 30px; text-align: center;">
        <br><br><br>
        <span style="margin: 0 auto;"><strong>"{{query}}"</strong>에 대한 정보를 검색해 올 수 없습니다.</span>
        <br>
        <div style="text-align: left;">
            <pre style="line-height: 1.5em;">
            문장이 알맞은지 확인해 주세요
            한글을 영어로 혹은 영어를 한글로 입력했는지 확인해 보세요.
            검색어의 단어 수를 줄이거나, 보다 일반적인 검색어로 다시 검색해 보세요.
            두 단어 이상의 검색어인 경우, 띄어쓰기를 확인해 보세요. 
        </pre>
    </div>
        
</div>
</body>
</html>