<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>                 <!-- 자바스크립 -->
    <link rel="stylesheet" href="/static/css/location_info/location_info.css" />    <!-- 여향지정보 css -->
    <title>location_info</title>
</head>
<body>
    <h2>{{ title }}</h2>
    <div class="slide slide_wrap" id="location_info_slide">
        {% for img in img_url %}    <div class="slide_item"><img style="width: 60%;" src="{{ img }}"></div>     {% endfor %}
    </div>
    <div class="slide_prev_button slide_button">◀</div>
    <div class="slide_next_button slide_button">▶</div>
    <ul class="slide_pagination"></ul>
    </div>
    
    <div class="text">  {{ text }}</div>
    <div class="titles">여행콘텐츠</div>
    <div class="pick">
        {% for pick in result_pick_list %}
        <div class="pick-div">
            <img class="info-img" src="{{ pick.0 }}">
            <a class="info-link" href="{{ pick.1 }}">{{ pick.2 }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="titles">숙박정보</div>
    <div class="hotel">
        {% for hotel in result_hotel_list %}
            <div class="hotel-div">
                <img class="hotel-img" src="{{ hotel.0 }}">
                <a class="hotel-link" href="{{ hotel.1 }}">{{ hotel.2 }}</a>
                <div class="hotel-price">{{ hotel.3 }}</div>
            </div>
        {% endfor %}
    </div>

    <script src="/static/js/location_info/location_info.js"></script>  <!-- 여행지정보 js -->   <!-- js 스크립트를 하단에다 놔야 body 실행이 끝날무렵 실행함. -->
    <script>
        location_info_js("{{ img_url|length }}");       // 이미지 슬라이드 효과를 주기위한 함수 실행
    </script>
</body>
</html>
