<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>simpleMap</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script
            src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxc4fab6222ca54f719ee6a518568d8856"></script>
        <style>
            .ft_select {
                margin-bottom: 2%;
            }

            select {
                width: 18%;
                font-family: 'IBM Plex Sans KR', sans-serif;
                font-size: 1rem;
                padding: 1%;
                border-radius: 0.55rem;
            }
            
            select:focus {
                outline: none;
            }

            button#btn_select {
                color: white;
                background-color: #65a0f0;
                border: 0;
                border-radius: 0.55rem;
                font-family: 'IBM Plex Sans KR', sans-serif;
                font-size: 1.05rem;
                font-weight: 600;
                padding: 1% 1.75%;
            }

            #result {
                position: relative;
                left: 52%;
                top: -587px;
                width: 50%;
            }

            #test {
                position: relative;
                left: 51%;
                top: -563px;
                overflow: scroll;
                height: 510px;
                width: 50%;
            }

            #test::-webkit-scrollbar {
                display: none;
            }
            
            table#roadtable {
                border-top: 2px solid #444444;
                border-bottom: 2px solid #444444;
                border-collapse: collapse;

            }

            th {
                background-color: #65a0f0;
                color: #ffffff;
                font-size: 1.25rem;
                text-align: left;
                padding: 2%;
            }

            tr {
                border-bottom: 1px solid #444444;
            }

            tr:nth-child(2n) {
                background-color: #FAFAFA;
                color: #031027;
            }
            
            tr:nth-child(2n+1) {
                background-color: #e4eefc;
                color: #031027;
            }

            td {
                padding: 10px;
            }
            /* 지도상의 점 처리하는 css */
            /* div#map_div>div>div>img{
                display: inherit;
            } */
        </style>
        <script type="text/javascript">


            var map;
            var markerInfo;
            //출발지,도착지 마커
            var marker_s,
                marker_e,
                marker_p;
            //경로그림정보
            var drawInfoArr = [];
            var drawInfoArr2 = [];

            var chktraffic = [];
            var resultdrawArr = [];
            var resultMarkerArr = [];

            function initTmap() {
                // 1. 지도 띄우기
                map = new Tmapv2.Map("map_div", {
                    center: new Tmapv2.LatLng((Number(startlat)+Number(endlat))/2, (Number(startlong)+Number(endlong))/2),
                    width: "50%",
                    height: "590px",
                    zoom: 10,
                    zoomControl: true,
                    scrollwheel: true
                });

                // 2. 시작, 도착 심볼찍기 시작
                //시작
                marker_s = new Tmapv2.Marker({
                    position: new Tmapv2.LatLng(Number(startlat), Number(startlong)),
                    icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
                    iconSize: new Tmapv2.Size(24, 38),
                    map: map
                });

                //도착
                marker_e = new Tmapv2.Marker({
                    position: new Tmapv2.LatLng(Number(endlat), Number(endlong)),
                    icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",
                    iconSize: new Tmapv2.Size(24, 38),
                    map: map
                });

                // 3. 경로탐색 API 사용요청
                $("#btn_select").click(function () {

                    //기존 맵에 있던 정보들 초기화
                    resettingMap();

                    var searchOption = $("#selectLevel").val();

                    var trafficInfochk = $("#year").val();

                    //JSON TYPE EDIT [S]
                    $.ajax({
                        type: "POST",
                        url: "https://apis.openapi.sk.com/tmap/routes?version=1&format=json&callback=result",
                        async: false,
                        data: {
                            "appKey": "l7xxc4fab6222ca54f719ee6a518568d8856",
                            "startX": startlong,
                            "startY": startlat,
                            "endX": endlong,
                            "endY": endlat,
                            // "roadType": 1,
                            // "passList": "129.007, 35.917_128.005, 36.199_127.402, 36.44_127.178, 36.765",
                            // "passList": 127.1805832,36.7680801 천안,
                            //127.668911, 36.279203_ _128.693213,35.885241
                            "reqCoordType": "WGS84GEO",
                            "resCoordType": "EPSG3857",
                            "searchOption": searchOption,
                            "trafficInfo": trafficInfochk,
                            "mainRoadInfo": "Y",
                            "type": "feature"
                        },
                        success: function (response) {

                            var resultData = response.features;

                            var tDistance = (resultData[0].properties.totalDistance / 1000).toFixed(1);
                            var tTime = (resultData[0].properties.totalTime / 60).toFixed(0);
                            var tFare =  resultData[0].properties.totalFare;
                            var taxiFare = resultData[0].properties.taxiFare;
                            // var tDistance = "총 거리 : " + (
                            //     resultData[0].properties.totalDistance / 1000
                            // ).toFixed(1) + "km,";
                            // var tTime = " 총 시간 : " + (
                            //     resultData[0].properties.totalTime / 60
                            // ).toFixed(0) + "분,";
                            // var tFare = " 총 요금 : " + resultData[0].properties.totalFare + "원,";
                            // var taxiFare = " 예상 택시 요금 : " + resultData[0].properties.taxiFare + "원";

                            let roadlist = []
                            for (var i=0; i < resultData.length; i++){
                                roadlist.push(resultData[i].properties.description);
                            }
                            
                            console.log('$("#roadtable"):', $("#roadtable"))

                            // $("#roadtable").text() = "";

                            // $("#result").text(tDistance + tTime + tFare + taxiFare);
                            $("#arrival_time").text(tTime+"분 | ");
                            $("#arrival_distance").text(tDistance+"km");
                            $("#texi").text("택시비 "+taxiFare.toLocaleString("ko-KR")+"원 | ");
                            $("#tolgate").text("통행료 "+tFare.toLocaleString("ko-KR")+"원");
                            // <p id="arrival_time"></p> | <p id="arrival_distance"></p><br>
                            // <p>택시비</p><p id="texi"></p> | <p>통행료</p><p id="tolgate"></p>
                            // $("#result").append(roadlist)
                            $("#roadtable").append("<tr><th colspan=2>출발</th></tr>");
                            let road_script = "";
                            let road_street = "";
                            let cnt = 0;
                            for(var i = 0; i < roadlist.length; i++){
                                if (roadlist[i] != undefined){
                                    if (roadlist[i].search(', ') != -1){
                                        console.log("☆☆☆roadlist[i]:", roadlist[i])
                                        console.log("☆☆☆cnt:", cnt)
                                        console.log("☆☆☆road_script:", road_script)
                                        if (cnt == 1 && road_street != "" && road_script == null){
                                            road_script = "";
                                            $("#roadtable").append("<tr><td>"+road_street+"</td><td>"+road_script+"</td></tr>");
                                            cnt = 0;
                                            road_street = roadlist[i]
                                            console.log("road_street:", road_street)
                                        }
                                        else{
                                            road_street = roadlist[i]
                                        }
                                    }
                                    else {
                                        console.log("★★★roadlist[i]:", roadlist[i])
                                        console.log("★★★cnt:", cnt)
                                        console.log("★★★road_street:", road_street)
                                        if (road_street != ""){
                                            $("#roadtable").append("<tr><td>"+road_street+"</td><td>"+road_script+"</td></tr>");
                                            cnt = 0;
                                            road_script = roadlist[i]
                                        }
                                        if (roadlist[i]=="도착"){
                                            $("#roadtable").append("<tr><th colspan=2>도착</th></tr>");
                                        }
                                        else{
                                            road_script = roadlist[i]
                                        }
                                    }
                                    cnt ++;
                                    if (cnt == 2) {
                                        $("#roadtable").append("<tr><td>"+road_street+"</td><td>"+road_script+"</td></tr>");
                                        cnt = 0;
                                        road_script = "";
                                        road_street = "";
                                    }
                                }
                            }

                            //교통정보 표출 옵션값을 체크
                            if (trafficInfochk == "Y") {
                                for (var i in resultData) { //for문 [S]
                                    var geometry = resultData[i].geometry;
                                    var properties = resultData[i].properties;

                                    if (geometry.type == "LineString") {
                                        //교통 정보도 담음
                                        chktraffic.push(geometry.traffic);
                                        var sectionInfos = [];
                                        var trafficArr = geometry.traffic;

                                        for (var j in geometry.coordinates) {
                                            // 경로들의 결과값들을 포인트 객체로 변환
                                            var latlng = new Tmapv2.Point(
                                                geometry.coordinates[j][0],
                                                geometry.coordinates[j][1]
                                            );
                                            // 포인트 객체를 받아 좌표값으로 변환
                                            var convertPoint = new Tmapv2
                                                .Projection
                                                .convertEPSG3857ToWGS84GEO(latlng);

                                            sectionInfos.push(convertPoint);
                                        }

                                        drawLine(sectionInfos, trafficArr);
                                    } else {

                                        var markerImg = "";
                                        var pType = "";

                                        if (properties.pointType == "S") { //출발지 마커
                                            markerImg = "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                                            pType = "S";
                                        } else if (properties.pointType == "E") { //도착지 마커
                                            markerImg = "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                                            pType = "E";
                                        } else { //각 포인트 마커
                                            markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                                            pType = "P"
                                        }

                                        // 경로들의 결과값들을 포인트 객체로 변환
                                        var latlon = new Tmapv2.Point(geometry.coordinates[0], geometry.coordinates[1]);
                                        // 포인트 객체를 받아 좌표값으로 다시 변환
                                        var convertPoint = new Tmapv2
                                            .Projection
                                            .convertEPSG3857ToWGS84GEO(latlon);

                                        var routeInfoObj = {
                                            markerImage: markerImg,
                                            lng: convertPoint._lng,
                                            lat: convertPoint._lat,
                                            pointType: pType
                                        };
                                        // 마커 추가
                                        addMarkers(routeInfoObj);
                                    }
                                } //for문 [E]

                            } else {

                                for (var i in resultData) { //for문 [S]
                                    var geometry = resultData[i].geometry;
                                    var properties = resultData[i].properties;

                                    if (geometry.type == "LineString") {
                                        for (var j in geometry.coordinates) {
                                            // 경로들의 결과값들을 포인트 객체로 변환
                                            var latlng = new Tmapv2.Point(
                                                geometry.coordinates[j][0],
                                                geometry.coordinates[j][1]
                                            );
                                            // 포인트 객체를 받아 좌표값으로 변환
                                            var convertPoint = new Tmapv2
                                                .Projection
                                                .convertEPSG3857ToWGS84GEO(latlng);
                                            // 포인트객체의 정보로 좌표값 변환 객체로 저장
                                            var convertChange = new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng);
                                            // 배열에 담기
                                            drawInfoArr.push(convertChange);
                                        }
                                        drawLine(drawInfoArr, "0");
                                    } else {

                                        var markerImg = "";
                                        var pType = "";

                                        if (properties.pointType == "S") { //출발지 마커
                                            markerImg = "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                                            pType = "S";
                                        } else if (properties.pointType == "E") { //도착지 마커
                                            markerImg = "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                                            pType = "E";
                                        } else { //각 포인트 마커
                                            markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                                            pType = "P"
                                        }

                                        // 경로들의 결과값들을 포인트 객체로 변환
                                        var latlon = new Tmapv2.Point(geometry.coordinates[0], geometry.coordinates[1]);
                                        // 포인트 객체를 받아 좌표값으로 다시 변환
                                        var convertPoint = new Tmapv2
                                            .Projection
                                            .convertEPSG3857ToWGS84GEO(latlon);

                                        var routeInfoObj = {
                                            markerImage: markerImg,
                                            lng: convertPoint._lng,
                                            lat: convertPoint._lat,
                                            pointType: pType
                                        };

                                        // Marker 추가
                                        addMarkers(routeInfoObj);
                                    }
                                } //for문 [E]
                            }
                        },
                        error: function (request, status, error) {
                            console.log(
                                "code:" + request.status + "\nmessage:" + request.responseText + "\nerror:" +
                                error
                            );
                        }
                    });
                    //JSON TYPE EDIT [E]
                });
            }

            function addComma(num) {
                var regexp = /\B(?=(\d{3})+(?!\d))/g;
                return num
                    .toString()
                    .replace(regexp, ',');
            }

            //마커 생성하기
            function addMarkers(infoObj) {
                var size = new Tmapv2.Size(24, 38); //아이콘 크기 설정합니다.

                if (infoObj.pointType == "P") { //포인트점일때는 아이콘 크기를 줄입니다.
                    size = new Tmapv2.Size(8, 8);
                }

                marker_p = new Tmapv2.Marker({
                    position: new Tmapv2.LatLng(infoObj.lat, infoObj.lng),
                    icon: infoObj.markerImage,
                    iconSize: size,
                    map: map
                });

                resultMarkerArr.push(marker_p);
            }

            //라인그리기
            function drawLine(arrPoint, traffic) {
                var polyline_;

                if (chktraffic.length != 0) {

                    // 교통정보 혼잡도를 체크 strokeColor는 교통 정보상황에 다라서 변화 traffic :  0-정보없음, 1-원활, 2-서행,
                    // 3-지체, 4-정체  (black, green, yellow, orange, red)

                    var lineColor = "";

                    if (traffic != "0") {
                        if (traffic.length == 0) { //length가 0인것은 교통정보가 없으므로 검은색으로 표시

                            lineColor = "#06050D";
                            //라인그리기[S]
                            polyline_ = new Tmapv2.Polyline(
                                {path: arrPoint, strokeColor: lineColor, strokeWeight: 6, map: map}
                            );
                            resultdrawArr.push(polyline_);
                            //라인그리기[E]
                        } else { //교통정보가 있음

                            if (traffic[0][0] != 0) { //교통정보 시작인덱스가 0이 아닌경우
                                var trafficObject = "";
                                var tInfo = [];

                                for (var z = 0; z < traffic.length; z++) {
                                    trafficObject = {
                                        "startIndex": traffic[z][0],
                                        "endIndex": traffic[z][1],
                                        "trafficIndex": traffic[z][2]
                                    };
                                    tInfo.push(trafficObject)
                                }

                                var noInfomationPoint = [];

                                for (var p = 0; p < tInfo[0].startIndex; p++) {
                                    noInfomationPoint.push(arrPoint[p]);
                                }

                                //라인그리기[S]
                                polyline_ = new Tmapv2.Polyline(
                                    {path: noInfomationPoint, strokeColor: "#06050D", strokeWeight: 6, map: map}
                                );
                                //라인그리기[E]
                                resultdrawArr.push(polyline_);

                                for (var x = 0; x < tInfo.length; x++) {
                                    var sectionPoint = []; //구간선언

                                    for (var y = tInfo[x].startIndex; y <= tInfo[x].endIndex; y++) {
                                        sectionPoint.push(arrPoint[y]);
                                    }

                                    if (tInfo[x].trafficIndex == 0) {
                                        lineColor = "#06050D";
                                    } else if (tInfo[x].trafficIndex == 1) {
                                        lineColor = "#61AB25";
                                    } else if (tInfo[x].trafficIndex == 2) {
                                        lineColor = "#FFFF00";
                                    } else if (tInfo[x].trafficIndex == 3) {
                                        lineColor = "#E87506";
                                    } else if (tInfo[x].trafficIndex == 4) {
                                        lineColor = "#D61125";
                                    }

                                    //라인그리기[S]
                                    polyline_ = new Tmapv2.Polyline(
                                        {path: sectionPoint, strokeColor: lineColor, strokeWeight: 6, map: map}
                                    );
                                    //라인그리기[E]
                                    resultdrawArr.push(polyline_);
                                }
                            } else { //0부터 시작하는 경우

                                var trafficObject = "";
                                var tInfo = [];

                                for (var z = 0; z < traffic.length; z++) {
                                    trafficObject = {
                                        "startIndex": traffic[z][0],
                                        "endIndex": traffic[z][1],
                                        "trafficIndex": traffic[z][2]
                                    };
                                    tInfo.push(trafficObject)
                                }

                                for (var x = 0; x < tInfo.length; x++) {
                                    var sectionPoint = []; //구간선언

                                    for (var y = tInfo[x].startIndex; y <= tInfo[x].endIndex; y++) {
                                        sectionPoint.push(arrPoint[y]);
                                    }

                                    if (tInfo[x].trafficIndex == 0) {
                                        lineColor = "#06050D";
                                    } else if (tInfo[x].trafficIndex == 1) {
                                        lineColor = "#61AB25";
                                    } else if (tInfo[x].trafficIndex == 2) {
                                        lineColor = "#FFFF00";
                                    } else if (tInfo[x].trafficIndex == 3) {
                                        lineColor = "#E87506";
                                    } else if (tInfo[x].trafficIndex == 4) {
                                        lineColor = "#D61125";
                                    }

                                    //라인그리기[S]
                                    polyline_ = new Tmapv2.Polyline(
                                        {path: sectionPoint, strokeColor: lineColor, strokeWeight: 6, map: map}
                                    );
                                    //라인그리기[E]
                                    resultdrawArr.push(polyline_);
                                }
                            }
                        }
                    } else {}
                } else {
                    polyline_ = new Tmapv2.Polyline(
                        {path: arrPoint, strokeColor: "#DD0000", strokeWeight: 6, map: map}
                    );
                    resultdrawArr.push(polyline_);
                }

            }

            //초기화 기능
            function resettingMap() {
                //기존마커는 삭제
                marker_s.setMap(null);
                marker_e.setMap(null);

                if (resultMarkerArr.length > 0) {
                    for (var i = 0; i < resultMarkerArr.length; i++) {
                        resultMarkerArr[i].setMap(null);
                    }
                }

                if (resultdrawArr.length > 0) {
                    for (var i = 0; i < resultdrawArr.length; i++) {
                        resultdrawArr[i].setMap(null);
                    }
                }

                chktraffic = [];
                drawInfoArr = [];
                resultMarkerArr = [];
                resultdrawArr = [];
            }
        </script>
    </head>
    <body onload="initTmap();">
        <div>
            <span id="startlat" style="display: none;">{{data.startlat}}</span>
            <span id="startlong" style="display: none;">{{data.startlong}}</span>
            <span id="endlat" style="display: none;">{{data.endlat}}</span>
            <span id="endlong" style="display: none;">{{data.endlong}}</span>
            <!-- <span id="test">{{data.test}}</span> -->
        <div class="ft_area">
            <div class="ft_select_wrap">
                <div class="ft_select">
                    <select id="selectLevel">
                        <option value="0" selected="selected">교통최적+추천</option>
                        <option value="1">교통최적+무료우선</option>
                        <option value="2">교통최적+최소시간</option>
                        <option value="3">교통최적+초보</option>
                        <option value="4">교통최적+고속도로우선</option>
                        <option value="10">최단거리+유/무료</option>
                        <option value="12">이륜차도로우선</option>
                        <option value="19">교통최적+어린이보호구역 회피</option>
                    </select>
                    <select id="year">
                        <option value="N" selected="selected">교통정보 표출 옵션</option>
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                    <button id="btn_select">적용하기</button>
                </div>
            </div>
            <div class="map_act_btn_wrap clear_box"></div>
            <div class="clear"></div>
        </div>

        <div id="map_wrap" class="map_wrap">
            <div id="map_div"></div>
        </div>
        <div class="map_act_btn_wrap clear_box"></div>
        <div id="result">
            <span id="arrival_time" style="font-size: 1.5em; font-weight: bold;"></span>
            <span id="arrival_distance" style="font-size: 1.5em; font-weight: bold;"></span><br>
            <span id="texi"></span>
            <span id="tolgate"></span>
        </div>
        <div id="test">
            <table id="roadtable">
                
            </table>
        </div>
        <br/>
    </body>
    <script>

        //받아온 값들 불러오기
        let startlat = document.getElementById("startlat").innerText;
        let startlong = document.getElementById("startlong").innerText;
        let endlat = document.getElementById("endlat").innerText;
        let endlong = document.getElementById("endlong").innerText;


        // 스크롤조정
        $(document).ready(function(){
            $road = $("#test")
            // $road.animate({scrollTop: $road.prop('scrollHeight')});
            
                

            
        });
    </script>
</html>