/* 전체 */
* {
    margin: 0;
}

/* 별찌 타이틀 */
.title {
    display: flex;
    justify-content: center;
    padding: 30px 0 20px;
    color: #FFFFFF;
}

.title.byeol {
    font-family: 'Dongle';
    font-size: 12rem;
}

.title.zzi {
    font-family: 'Dongle';
    font-size: 12rem;
    padding-top: 46px;
    padding-left: 4px;
}

/* header추가를 위한 가장 큰 container */
.Full_container{
	width: 100%;
	height: 100%;
	position: absolute;
}

.daemon-script {
    font-family: 'Gowun Dodum', sans-serif;
    padding-top: 1rem;
    margin: 1.75em 0 0.25em 0 !important;
}

#header nav {
    margin: 0.3em 0 0 0 !important;
}

#menubar {
    font-family: 'Gowun Dodum', sans-serif;
}
#login-check {
    display: none;
}

#chatbotbtn {
    border: 0.15rem solid;
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Gowun Dodum', sans-serif;
    width: fit-content;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    background-color: #031027;
    font-weight: 600;
}

#chatbotbtn:hover {
    color: #031027;
    background-color: #FFFFFF;
    font-weight: 600;
}

#chatbotbtn:active,
#chatbotbtn:visited {
    color: #031027;
    background-color: #FFEC39;
    font-weight: 600;
}


/* 전체화면 */
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* ✅왼쪽에 붙이기 */
.c_left{
	justify-content: flex-start;
}

/* ✅오른쪽에 붙이기 */
.c_right{
	justify-content: flex-end;
}


/* 왼쪽 결과 창 */
.result-text {
    position: absolute;
    width: 110vh;
    height: 9vh;
    padding: 1% 3%;
    margin: 10px;
    left: 5%;
    top: 7%;
}

.text-box {
    font-size: 1.5rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    width: 100%;
    height: 100%;
    border: 2px solid #FAFAFA;
    border-radius: 10px;
    background-color: #FAFAFA;
    color:rgb(26, 26, 26);
    padding: 3% 0 3% 4%;
    display: flex;
    align-items: center;
}

.result_container {
    position: absolute;
    width: 110vh;
    height: 77vh;
    padding: 1% 3%;
    margin: 10px;
    font-size: 60px;
    left: 5%;
    top: 15%;
}

/* 왼쪽 결과 출력 */
.intent {
    width: 27%;
}

#intent {
    margin-left: 4%;
    font-weight: 600;
}

.ner-list {
    width: 28%;
}

#ner-list {
    margin-left: 4%;
    font-weight: 600;
}

.ner-tag {
    width: 45%;
}

#ner-tag {
    margin-left: 4%;
    font-weight: 600;
}

/* 왼쪽 결과 iframe */
.iframe_area {
    width: 100%;
    height: 100%;
    border: 2px solid #FAFAFA;
    border-radius: 10px;
    background-color: #FAFAFA;
}

/* 오른쪽 챗봇 대화 창 */
.chat_bot_container {
    position: absolute;
    width: 32%;
    height: 85vh;
    padding: 1% 3%;
    margin: 10px;
    font-size: 60px;
    margin-left: 9vh;
    right: 5%;
    top: 7%;
}

/* 챗봇 큰 구역 */
.chatbot_big_area {
    height: 100%;
    border: 2px solid #FAFAFA;
    border-radius: 10px;
    background: linear-gradient(to bottom, #EBEBEB 0%,#FAFAFA 100%);
    /* background-color: #FAFAFA; */
}

/* 챗봇 header */
.chatheader {
    height: 10%;
    display: flex;
    margin: 0 3%;
    padding-left: 3%;
}

/* 챗봇 이미지 */
.chatbot_img {
    width: 45px;
    height: 45px;
    margin: auto 1.5vh auto 0px;
}

/* 챗봇 타이틀 이름 */
.chat_bot_titlename{
    display: flex;
    align-items: center;
    color:rgb(26, 26, 26);
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

/* 챗봇 대화 창 구간*/
#chatbody {
    height: 80%;
    padding: 10px;
    background: linear-gradient(to bottom, #FFFFFF 0%,#F3F3F3 100%);
    font-family: 'Gowun Dodum', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
	word-wrap:break-word;
}

/* 챗봇 대화상자 */
.addtext-box {
    width: 100%;
    margin:15px 0;
    text-align:left;
    display: flex;
    justify-content: flex-end;
}

.addtext {
    padding: 8px 15px;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    background-color: #65a0f0;
    border-radius: 1rem;
    font-size: 1.5rem;
    max-width: 80%;
    letter-spacing: -0.15rem;
}

.bottext-box {
    width: 100%;
    margin:15px 0;
    display: flex;
    justify-content: flex-start;
}

.bottext {
    padding: 8px 15px;
    width: fit-content;
    height: fit-content;
    color: #031027;
    background-color:#EBEBEB;
    border-radius:1rem;
    font-size:1.5rem;
    margin-right: 6px;
    max-width: 80%;
    letter-spacing: -0.15rem;
}

.botcontents-box {
    width: 100%;
    margin:15px 0;
    display: flex;
    justify-content: flex-start;
    margin-right: 6px;
}

.botcontents,
.reco_contents,
.around_contents {
    padding: 8px 15px;
    width: fit-content;
    height: fit-content;
    color: #031027;
    background-color:#EBEBEB;
    border-radius:1rem;
    font-size:1.5rem;
    letter-spacing: -0.15rem;
}

.festival_contents {
    padding: 8px 15px;
    width: 60%;
    height: fit-content;
    color: #031027;
    background-color:#EBEBEB;
    border-radius:1rem;
    font-size:1.5rem;
    text-align: center;
    letter-spacing: -0.15rem;
}

.highway_contents {
    padding: 8px 15px;
    width: 80%;
    height: fit-content;
    color: #031027;
    background-color:#EBEBEB;
    border-radius:1rem;
    font-size:1.15rem;
    letter-spacing: -0.1rem;
}

.highway-table {
    word-break: break-all;
    width: 100%;
}

.highway-head {
    background-color: #555555;
    color: white;
}

.highway-section {
    width: 35%;
    text-align: center;
    vertical-align: middle;
}

.highway-distance {
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.highway-speed {
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.highway-conditions {
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.highway-line {
    border-bottom: 1.5px solid #c7c7c7;
}

.highway-data {
    text-align: center;
    vertical-align: middle;
}

.festival-img {
    width: 70%;
}

.festival-title {
    width: 100%;
}

.festival-date {
    width: 100%;
    font-size: 1.25rem;
}

.damgi {
    padding: 8px 15px;
    width: fit-content;
    height: fit-content;
    color: #031027;
    background-color:#EBEBEB;
    border-radius:1rem;
    font-size: 1.5rem;
    margin-left: 4%;
}

.myloca {
    display: inline-block;
    width: fit-content;
    font-size: 1.5rem;
    color: #031027;
    background-color:#EBEBEB;
    border-radius:1rem;
    padding: 8px 15px;
    margin: 0 3% 1% 0;
}
.myloca-div {
    width: 80%;
}

/* 챗봇 footer */
.chatfooter{
	height: fit-content;
    width: 100%;
    display: flex;
    float: left;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
}

/* 챗봇 입력 레이아웃*/
.chat_input{
    color: rgb(26, 26, 26);
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
	display: contents;
}

/* 챗봇 텍스트 입력 구간 */
#chattext {
    padding: 7px 6px;
    letter-spacing: -1px;
    line-height: 35px;
    color: rgb(26, 26, 26);
    outline: none;
    margin-top: 10px;
    width: 78%;
    min-height: 2.25px;
    border: none;
    overflow: hidden;
    resize: none;
    word-wrap: break-word;
    max-height: 10.25em;
    font-size: 1.5rem;
    font-family: 'Gowun Dodum', sans-serif;
    height: 50px;
    border-radius: 0.5rem;
}

/* 전송 버튼 */
.send_button{
	width: 5vh;
	height: 5vh;
	cursor: pointer;
}