body{
    background-color: #031027 !important;
}

.tomain,
.tomain:hover {
    display: block;
    width: 320px;
    font-size: 3rem;
    font-weight: bolder;
    color: #8ECA5D;
    text-decoration: none;
    text-align: center;
    margin: 100px auto 50px;
}

.tomain span {
    color: black;
    font-size: 3rem;
}