.main {
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 2%;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    padding: 30px 0 20px;
    color: #FFFFFF;
    margin: 0 0 0 69%;
}

.title.byeol {
    font-family: 'Dongle';
    font-size: 85px;
    margin: 0%;
}

.title.zzi {
    font-family: 'Dongle';
    font-size: 85px;
    padding-top: 46px;
    padding-left: 4px;
    margin: 0%;
}