/* * * * * * * * *  여기서부터 + 111줄 까지 여행지 div css * * * * * * * * */
.slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 100%;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
.slide_item {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0;

  /* size */
  width: fit-content;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}

.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(37% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

.slide_prev_button {
  color: white;
  left: 10px;
}

.slide_next_button {
  color: white;
  right: 10px;
}
h2 {
  font-family: 'IBM Plex Sans KR', sans-serif;
  margin: 2% 1.5% 5%;
  font-size: 2rem;
}

.text {
  font-family: 'IBM Plex Sans KR', sans-serif;
  line-height: 25px;
  font-size: 1.05rem;
  margin: 6% 1%;
  color: #031027;

}

.titles {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 1.5rem;
  color: #031027;
  margin: 0 1% 2%;
}

/* 페이지네이션 스타일 */
li,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  /* bottom: 0; */
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}
.pick {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 3%;
}

.pick-div {
  border: 1.5px solid #EBEBEB;
  border-radius: 0.55rem;
  display: flex;
  flex-direction: column;
  width: 22%;
  padding: 0 0 2%;
  margin: 0 1% 3%;
}

.info-img {
  border-radius: 0.55rem 0.55rem 0 0;
}

.info-link {
  overflow: hidden;
  white-space: normal;
  height: 2.5rem;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4%;
  text-decoration: none;
  color: #031027;
  line-height: 1.4;
  font-size: 0.94rem;
  padding: 3% 5% 0;
}

.hotel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 6%;
}

.hotel-div {
  border: 1.5px solid #EBEBEB;
  border-radius: 0.55rem;
  display: flex;
  flex-direction: column;
  width: 22%;
  padding: 0 0 2%;
  margin: 0 1% 3%;
}

.hotel-img {
  border-radius: 0.55rem 0.55rem 0 0;
  height: 21vh;
}

.hotel-link {
  overflow: hidden;
  white-space: normal;
  height: 2.5rem;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 4% 0;
  text-decoration: none;
  color: #031027;
  line-height: 1.4;
  font-size: 0.94rem;
  padding: 3% 5% 0;
}

.hotel-price {
  font-size: 0.85rem;
  color: #949494;
  padding: 0 6%;
}

/* * * * * * * * *  -111줄 부터 여기까지 여행지 div css * * * * * * * * */
